header{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

header img{
    height: 25px;
    margin-top: 5px;
}
.menu{
    padding-right: 20px;
    margin-top: 8px;
}

header a + a{
    margin-left: 20px;
    color: #FFC51E;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: black;
}